div.AboutPage {
  background-color: rgba(99, 99, 99, 0.8);
  border-radius: 15px;
  border: 3px solid white;
  margin-top: 40px;
}

h1.about-title {
  font-family: serif;
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
  padding: 30px;
  color: #f2f2f2;
}

h2.about-subTitle {
  display: inline;
  padding-right: 400px;
  padding-bottom: 30px;
  font-family: serif;
  font-style: italic;
  font-size: 25px;
  color: #f2f2f2;
}

div.AboutPage p {
  padding-top: 30px;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 18px;
  color: #f2f2f2;
}

span {
  font-style: italic;
  text-decoration: underline;
  font-weight: bold;
  padding-right: 5px;
}

p.footer {
  padding-bottom: 30px;
}

p#signage {
  padding-bottom: 40px;
  padding-left: 450px;
  color: #dddddd;
  font-family: serif;
  font-style: italic;
}
